/* ── Web Trace — Webfonts ────────────────────────────────────────────────────
   Space Grotesk  → display + UI (bold geometric sans)
   Eagle Lake     → distinctive brand-accent display only (logo flourish, hero
                    accent words, oversized feature numerals). NOT for dense data.
   JetBrains Mono → tabular data, prices, tickers, code
   All three are variable TTFs (OFL). License files live beside the binaries.
   ──────────────────────────────────────────────────────────────────────────── */

@font-face {
  font-family: 'Space Grotesk';
  src: url('../assets/fonts/SpaceGrotesk-Variable.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/fonts/JetBrainsMono-Variable.ttf') format('truetype');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eagle Lake';
  src: url('../assets/fonts/EagleLake-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
